<h2>Sign up</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.input :username, label: "Username" %>
  <%= f.input :first_name, label: "First Name" %>
  <%= f.input :last_name, label: "Last Name" %>
  <%= f.input :email, label: "Email", :autofocus => true %>
  <%= f.input :password, label: "Password" %>
  <%= f.input :password_confirmation, label: "Password Comfirmation" %>
  <%= f.button :submit, label: "Create User" %>
<% end %>

<%= render "devise/shared/links" %>
