<!DOCTYPE html>
<html>
<head>
  <title>Followapp</title>
  <%= stylesheet_link_tag    "http://netdna.bootstrapcdn.com/bootswatch/2.3.2/flatly/bootstrap.min.css", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
